.radioGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .radioOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
  }
  @media screen and (max-width: 576px) {
    .radioOption{
      font-size: var(--font-size-sm);
    }
  }
  .hiddenInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .customRadio {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    border: 2px solid #040404;
    margin-right: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
  }
  
  .selectedYES {
    background-color: rgba(var(--green-fs));
    border: 2px solid rgba(var(--green-fs));
  }
  
  .selectedNO {
    background-color: rgba(var(--red-custom));
    border: 2px solid rgba(var(--red-custom));
  }
  