.pass {
  padding: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.passCard {
  background: linear-gradient(-45deg, rgba(var(--gradient2)), rgba(var(--gradient1)));
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: var(--font-size-sm);
}

.cardSec1 .bookingId {
  text-align: right;
  color: #fff;
  letter-spacing: 1px;
}
.cardSec1 .bookingId .idNO {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.divider {
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  position: relative;
  height: 0;
}

.divider::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  top: calc(-0.5rem - 1px);
  left: -0.55rem;
  border-radius: 50%;
}

.divider::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  top: calc(-0.5rem - 1px);
  right: -0.55rem;
  border-radius: 50%;
}

.cardSec2 .departure h3,
.cardSec2 .arrival h3 {
  font-weight: 700;
  font-size: var(--font-size-lg);
}
.cardSec2 .departure > p,
.cardSec2 .arrival > p {
  font-size: var(--font-size-xs);
}
.cardSec2 .arrival {
  text-align: right;
}

.cardSec1,
.cardSec2,
.cardSec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  color: #fff;
}

.toDate,
.fromDate {
  font-size: var(--font-size-sm);
}

.condidate {
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: var(--font-size-sm);
}
.condidate .name {
  grid-column: span 2;
}
.condidate .port {
  grid-column: span 3;
}
.condidate .label {
  font-size: var(--font-size-xs);
  color: #888;
}

.dividerMain {
  border-top: 2px dashed rgba(0, 0, 0, 0.3);
  position: relative;
  height: 0;
  margin: 0 1rem;
}

.cabinCat {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cabinCat .catSec1 {
  font-size: var(--font-size-xl);
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(var(--dark-magenta));
}
.cabinCat .catSec1 .catLabel {
  font-size: var(--font-size-sm);
  color: #888;
  text-transform: initial;
  font-family: "Manrope", sans-serif;
}

.downloadBPass {
  font-weight: 600;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(var(--dark-magenta));
  display: flex;
  gap: 0.5rem;
  margin: 2rem auto;
}

.shareVia {
  font-weight: 700;
  padding: 0.7rem 2rem;
  color: rgba(var(--dark-magenta));
  display: flex;
  gap: 0.5rem;
  margin: 2rem auto;
}

.centerLogo {
  width: 45px;
  height: 45px;
  position: relative;
}

.centerLogo::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0;
  top: 21px;
  left: -30px;
  border-top: 2px dashed rgba(255, 255, 255, 0.5);
}

.centerLogo::after {
  content: "";
  content: "";
  position: absolute;
  width: 2rem;
  height: 0;
  top: 21px;
  right: -30px;
  border-top: 2px dashed rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=pass.module.css.map */