.pageSection {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin-bottom: 300px;
}

@media screen and (min-width: 1281px) {
  .pageSection {
    grid-template-columns: 1.9fr 1fr;
  }
}
@media screen and (max-width: 1280px) {
  .pageSection {
    grid-template-rows: 1fr auto;
  }
  .paymentCards {
    padding: 0;
  }
  .paymentMethods {
    margin-bottom: 2rem;
  }
  .sec1 {
    order: 2;
  }
  .sec2 {
    order: 1;
  }
}
.sec2 {
  margin-top: 1rem;
}

.heading {
  font-size: clamp(0.9rem, 1.2rem + 1vw, 2rem);
  margin: 2rem 0;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.headingMob {
  font-size: clamp(0.9rem, 1.2rem + 1vw, 2rem);
  margin-bottom: 0;
  margin-top: 2rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.paymentBox {
  padding: 1.2rem;
  display: grid;
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 2px 5px 6px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  min-height: 500px;
}

@media screen and (min-width: 721px) {
  .paymentBox {
    grid-template-columns: 300px 1fr;
  }
}
@media screen and (max-width: 720px) {
  .paymentBox {
    grid-template-columns: 1fr;
  }
}
.paymentMethods {
  min-width: 280px;
  background: linear-gradient(45deg, var(--primary-50), var(--primary-100));
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.paymentMethods .upi {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.paymentMethods .DbCb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.paymentMethods .upi, .paymentMethods .DbCb, .paymentMethods .netB {
  display: flex;
  padding: 1rem 0;
  cursor: pointer;
}
.paymentMethods .upi .logo, .paymentMethods .DbCb .logo, .paymentMethods .netB .logo {
  padding: 0.5rem 1rem 1rem 1rem;
}
.paymentMethods .upi .methodContainer .name, .paymentMethods .DbCb .methodContainer .name, .paymentMethods .netB .methodContainer .name {
  font-size: 0.9rem;
  font-weight: bold;
}
.paymentMethods .upi .methodContainer .description, .paymentMethods .DbCb .methodContainer .description, .paymentMethods .netB .methodContainer .description {
  font-size: 0.8rem;
}
.paymentMethods .upi[data="1"], .paymentMethods .DbCb[data="2"], .paymentMethods .netB[data="3"] {
  background-color: #fff !important;
  position: relative;
  border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}
.paymentMethods .upi[data="1"]::after, .paymentMethods .DbCb[data="2"]::after, .paymentMethods .netB[data="3"]::after {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 6px;
  top: 0;
  left: -4px;
  height: 100%;
  background: rgba(var(--dark-magenta));
}

.paymentMethods > div:hover {
  background: var(--primary-100);
}

.paymentCards {
  min-width: 280px;
  max-width: 700px;
}
.paymentCards .upiHeading {
  font-size: 1.6rem;
  font-weight: bold;
}
.paymentCards .upiEnter {
  margin-top: 1rem;
  border: 2px solid var(--primary-200);
  line-height: 1;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
  outline: none;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #444;
}
.paymentCards .upiEnter:focus {
  border-color: rgba(var(--dark-magenta));
}
.paymentCards .upiDesc {
  margin-top: 2.5rem;
}
.paymentCards .upiDesc .wrapperDesc {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-left: 1rem;
  gap: 1rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.paymentCards .upiDesc .wrapperDesc span {
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: rgba(var(--dodger-blue));
}

.MethodBtn {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.MethodBtn > .mBtn {
  margin-top: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--primary-200);
  width: auto;
  height: 42px;
  border-radius: 0.4rem;
  overflow: hidden;
}
.MethodBtn > .mBtn:hover {
  border: 2px solid var(--primary-700);
}

.MethodBtn > .mBtnDebit {
  margin-top: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--primary-200);
  width: auto;
  height: 35px;
  border-radius: 0.4rem;
  overflow: hidden;
}
.MethodBtn > .mBtnDebit:hover {
  border: 2px solid var(--primary-700);
}

.MethodBtn .mBtnNetBank {
  margin-top: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid #8f8f8f;
  width: auto;
  height: 50px;
  border-radius: 0.2rem;
  overflow: hidden;
}
.MethodBtn .mBtnNetBank:hover {
  border: 2px solid var(--primary-700);
}

.secureMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 0.5rem;
}
.secureMsg p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #a9a9a9;
  font-family: "Red Hat Display", sans-serif;
}

.submit {
  width: 100%;
  height: 1.5;
  background-color: rgba(var(--dark-magenta));
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-top: 1.3rem;
}

.debitMsgBox {
  display: flex;
  margin: 3rem 0 1rem 0;
  flex-wrap: wrap;
  font-size: 0.8rem;
}
.debitMsgBox span {
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: rgba(var(--dark-magenta));
  margin-right: 0.5rem;
}
.debitMsgBox p {
  font-weight: 500;
}
.debitMsgBox a {
  color: rgba(var(--dark-magenta));
  font-weight: 700;
}

.cardInputs {
  display: flex;
  gap: 1rem;
}

.dateBox {
  position: relative;
  width: 100%;
}
.dateBox .date {
  position: absolute;
  width: 40;
  height: 40;
  top: 1.7rem;
  right: 0.5rem;
}
.dateBox .date .dateIcon {
  color: rgba(var(--dark-magenta));
}/*# sourceMappingURL=Payment.module.css.map */