.container {
  margin-top: 1rem;
  max-height: calc(100vh - 3rem);
  padding-bottom: 1rem;
}

@media screen and (min-width: 1281px) {
  .scrollBox {
    margin-top: 100px;
  }
}
.scrollBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

.card {
  background: linear-gradient(-45deg, var(--primary-100), var(--primary-50));
  padding-top: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 2px 5px 6px 7px var(--primary-100);
  overflow: hidden;
}

.card > h3, .card > div {
  padding: 0 1.5rem;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.dateContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.dateContainer h4 {
  text-align: center;
}

.centerLogo {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  z-index: 1;
}

.centerLogo img {
  padding: 5px;
}

.centerLogo::before {
  content: "";
  background-color: rgba(var(--dark-magenta));
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.centerLogo::after {
  content: "";
  width: 100px;
  border-radius: 1rem;
  border: 1px dashed #426262;
  position: absolute;
  z-index: -11111;
}

.dateContainer {
  margin-bottom: 1.5rem;
}
.dateContainer div > h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #313131;
  font-family: "Urbanist", sans-serif;
}
.dateContainer div > p {
  font-weight: 500;
  color: #666;
  font-size: 0.8rem;
}

.more {
  background-color: #fff;
  display: grid;
  place-items: center;
}
.more button {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: rgba(var(--dodger-blue));
}

.icon {
  transition: transform 0.4s ease;
}

.iconopened {
  transform: scaleY(-1);
}

.cabin .rows.opened, .cabin .priceTable.opened {
  max-height: 600px;
  opacity: 1;
}
.cabin .rows {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cabin .rows tbody {
  padding: 1rem 0;
}
.cabin .rows .car {
  color: rgba(var(--dark-magenta));
}
.cabin .rows .firstRow1 p, .cabin .rows .secondRow1 p {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #343434;
}
.cabin .rows .firstRow2, .cabin .rows .secondRow2 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.cabin .rows .firstRow1 {
  display: flex;
  gap: 0.5rem;
}
.cabin .rows .firstRow2 {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
  color: #393939;
}
.cabin .rows .secondRow2 {
  color: rgba(var(--dark-magenta));
  font-weight: bold;
  font-size: 1.1rem;
}

.priceCardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0.5rem 1rem;
  padding-bottom: 1rem;
}
.priceCardHead h4 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
}
.priceCardHead p {
  font-size: 1rem;
  color: rgba(var(--dodger-blue), 0.8);
  font-weight: 600;
  cursor: pointer;
}

.totalRsBox .label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #444;
}
.totalRsBox .totalRs {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(var(--dark-magenta));
}

.priceTableBox .title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.priceTableBox .priceTable {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.priceTableBox .priceList {
  display: flex;
  justify-content: space-between;
  color: #3b3b3b;
}
.priceTableBox .priceList p {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
}
.priceTableBox .priceList p[offer=active] {
  color: rgb(20, 156, 84);
}
.priceTableBox .taxesGst {
  background: linear-gradient(-45deg, var(--primary-100), var(--primary-50));
}
.priceTableBox .taxesGst p {
  padding: 0.3rem 1rem;
}
.priceTableBox .taxesGst p[offer=active] {
  color: rgb(20, 156, 84);
}/*# sourceMappingURL=plans.module.css.map */