@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-magenta: 147, 40, 142;
  --ghost-white: 246, 249, 255;
  --gray: 125, 127, 130;
  --dodger-blue: 0, 140, 255;
  --green-fs: 0, 152, 33;
  --red-custom: 233, 31, 31;
  --gradient1: 155, 46, 138;
  --gradient2: 234, 114, 91;
  --primary-900: #020617;
  --primary-800: #121b4b;
  --primary-700: #21307f;
  --primary-600: #3045b3;
  --primary-500: #3e59e8;
  --primary-400: #697eed;
  --primary-300: #94a3f2;
  --primary-200: #bfc8f7;
  --primary-100: #e8eefc;
  --primary-50: #f9faff;


  --mercury-50: rgb(246, 247, 248);
  --mercury-100: rgb(230, 231, 234);
  --mercury-200: rgb(220, 221, 225);
  --mercury-300: rgb(195, 198, 205);
  --mercury-400: rgb(166, 170, 180);
  --mercury-500: rgb(144, 147, 161);
  --mercury-600: rgb(127, 130, 145);
  --mercury-700: rgb(114, 115, 131);
  --mercury-800: rgb(96, 97, 109);
  --mercury-900: rgb(79, 80, 89);
  --mercury-950: rgb(51, 51, 56);

  --xs: 576px;
  --sm: 720px;
  --md: 1120px;
  --lg: 1280px;
  --xl: 1472px;
  --xxl: 1600px;


}
body,
html {
  /* background-color: var(--primary-50); */
  overflow-x: hidden;
}
body {
  min-height: 100vh;
}
h2 {
  font-family: "PT Serif", serif;
}
h3,
h4,
h5,
h6,
button {
  font-family: "Urbanist", sans-serif;
}
ul li a {
  font-family: "PT Serif", serif;
}
.container-xs {
  max-width: var(--xs);
}

.container-sm {
  max-width: var(--sm);
}

.container-md {
  max-width: var(--md);
}

.container-lg {
  max-width: var(--lg);
}

.container-xl {
  max-width: var(--xl);
}

.container-xxl {
  max-width: var(--xxl);
}

.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media screen and (max-width: 576px) {
  .hiddenFrom-xs {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .hiddenFrom-sm {
    display: none !important;
  }
}

@media screen and (max-width: 1120px) {
  .hiddenFrom-md {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .hiddenFrom-lg {
    display: none !important;
  }
}

@media screen and (max-width: 1472px) {
  .hiddenFrom-xl {
    display: none !important;
  }
}

@media screen and (max-width: 1600px) {
  .hiddenFrom-xxl {
    display: none !important;
  }
}

@media screen and (min-width: 576.1px) {
  .visibleFrom-xs {
    display: none !important;
  }
}

@media screen and (min-width: 720.1px) {
  .visibleFrom-sm {
    display: none !important;
  }
}

@media screen and (min-width: 1120.1px) {
  .visibleFrom-md {
    display: none !important;
  }
}

@media screen and (min-width: 1280.1px) {
  .visibleFrom-lg {
    display: none !important;
  }
}

@media screen and (min-width: 1472.1px) {
  .visibleFrom-xl {
    display: none !important;
  }
}

@media screen and (min-width: 1600.1px) {
  .visibleFrom-xxl {
    display: none !important;
  }
}


.scrollBar::-webkit-scrollbar, ::-webkit-scrollbar{
  background-color: #fff;
  width: 0.6rem;
}
.scrollBar::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
  background-color: rgba(var(--dark-magenta));
  border-radius: 0.25rem;
}

.scrollBarMercury::-webkit-scrollbar, ::-webkit-scrollbar{
  background-color: #fff;
  width: 0.6rem;
}
.scrollBarMercury::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
  background-color: var(--mercury-900);
  border-radius: 0.25rem;
}

.heading{
  font-size: clamp(0.9rem, 1.2rem + 1vw, 2rem);
  margin: 2rem 0;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

main button{
  transition:transform 0.2s ease, filter 0.2s ease;
  
}
main button:not(header):hover {
  transform: translateY(-5px);
}
main button:active{
  filter: grayscale(60%);
}